# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs/*.log
logs/*.jsonl
!logs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Optional npm cache directory
.npm/

# Docker
*.local
docker-compose.override.yml
.DS_Store

# VSCode
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
